In [2]:
2+2

4

In [3]:
3*2

6

In [4]:
'hello rishabh'

'hello rishabh'

### data types in python

In [5]:
print("hello rishabh")

hello rishabh

In [6]:
print('12')

12

In [7]:
print("argumet1",2,"argument3")

argumet1 2 argument3

In [8]:
a=123

In [9]:
print("a")

a

In [10]:
print(a)

123

In [11]:
a=123
b=456

In [12]:
print(a,b)

123 456

In [13]:
print(a+b)

579

In [14]:
str1='i am rishabh this is first string way'

In [15]:
str2="this is also a string"

In [16]:
string3='''i am multiple string'''

In [17]:
str4="""i am also multiple string"""

In [18]:
s='python is awesome'

In [19]:
k="again python is awesome"

In [20]:
s

'python is awesome'

In [21]:
k

'again python is awesome'

In [22]:
print("python is awesome")

python is awesome

In [23]:
l='''you
can
write
in
multiple
lines'''

In [24]:
l

'you\ncan\nwrite\nin\nmultiple\nlines'

In [25]:
print(l)

you
can
write
in
multiple
lines

In [26]:
print(s)

python is awesome

In [27]:
poem='''i am rishabh yadav
from bca'''

In [28]:
poem

'i am rishabh yadav\nfrom bca'

In [29]:
print(poem)

i am rishabh yadav
from bca

In [30]:
f=4.96

In [31]:
type(f)

float

In [32]:
t,f=True,False

In [33]:
t

True

In [34]:
a

123

In [4]:
print(type(t),type(f))

NameError: name 't' is not defined

In [1]:
x,y=True,False

In [37]:
x

True

In [38]:
y

False

In [39]:
k=None

In [40]:
type(k)

NoneType

In [41]:
print(k)

None

In [42]:
num1,num2=123,456

In [43]:
num1+num2

579

In [44]:
print("num1+num2")

num1+num2

In [45]:
print(num1+num2)

579

In [2]:
name=input('Enter ur name -->')

In [3]:
name=input('Enter ur name -->')

In [4]:
print(name)

rishabh

In [47]:
print(name)

ris

In [48]:
name=input('enter name')
college=input('enter colllege')
sem=input('enetr semester')
iq=input('enter iq')

In [49]:
print("name","college","sem",iq)

name college sem te

In [5]:
name=input('eter ame')

In [6]:
print(name)

raj

print("name:",name)
print("college:",college)
print("sem:",semester)
print("iq:",iq)

In [69]:
print("semester:",semester)

NameError: name 'semester' is not defined

In [1]:
name=input('enter name')
college=input('enter colllege')
semester=input('enetr semester')
iq=input('enter iq')

In [2]:
print("name")
print("college")
print("semester")
print("iq")

name
college
semester
iq

In [3]:
print("name:",name)

name: rishabh yadav

In [4]:
print("college:",college)

college: bbdu

In [5]:
print("semester:",semester)

semester: first

In [6]:
print("iq:",iq)

iq: hundred

In [7]:
print("name",name)

name rishabh yadav

In [1]:
a=5
b=4

In [2]:
if a>b:
    print("i am rishabh")

i am rishabh

In [4]:
if a<b:
    print("i am not rishabh")

In [7]:
if b>a:
    print("i")

In [8]:
 a=2
 b=4

In [9]:
if b>a:
    print("kaal")

kaal

In [10]:
a=1
b=2

In [13]:
print("enter two numbers")
a=input('enter a')
b=input('enter b')

enter two numbers

In [14]:
print(a+b)

23

In [15]:
print("a+b")

a+b

In [16]:
print('a+b')

a+b

In [20]:
a=input("enter a")
b=input("enter b")
c=a+b

In [21]:
print(c)

12

#input and output

In [22]:
fav_color="red"

In [24]:
fav_color=input('fav color')

In [25]:
print(fav_color)

green

In [26]:
fav_color=input('fav color')

In [27]:
print(fav_color)

black

In [32]:
int?

Init signature: int(self, /, *args, **kwargs)
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Type:           type
Subclasses:     bool, IntEnum, IntFlag, _NamedIntConstant, Handle

In [34]:
a=input("enter a")
b=input("enter b")
c=a+b

In [35]:
print(c)

12

In [36]:
int(a)

1

In [37]:
a

'1'

In [38]:
type(a)

str

In [39]:
a = int(a)
type(a)

int

In [43]:
b = int(b)

In [44]:
print(c)

12

In [47]:

a=input("enter a")
b=input("enter b")
c=a+b
print(c)

12

In [48]:
a=int(input('enter a number'))
b=int(input('enter b number'))
c=a+b
print(c)

3

#operators

In [49]:
a = 10
b = 3

In [50]:
a + b

13

In [51]:
a - b

7

In [52]:
a - 10

0

In [53]:
a * b

30

## normal division gives float value

In [55]:
a / b #always gives value in float

3.3333333333333335

In [56]:
10 / 2

5.0

In [57]:
int(10 / 2)

5

# // - is integer division that gives anser in integer not iun float

In [58]:
a // b

3

# %(modulus)- it gives remainder

In [59]:
a % b

1

# a % 2 it is used to give even odd if remainder 0 then even and if 1 then odd

In [60]:
a % 2

0

In [61]:
a % 3

1

In [62]:
18239 % 2

1

# 'exponent' power

In [63]:
a ** b

1000

In [64]:
a ** 100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [65]:
100 ** 1000

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [66]:
a > b

True

In [67]:
a < b

False

In [68]:
a == b

False

In [70]:
a != b

True

In [71]:
a <= b

False

In [72]:
a<=b

False

## logical operators ,more than one compare
and
or 
not

In [73]:
name = 'sonu'
password = '123123'

In [74]:
name == 'sonu' and password == '123123'

True

In [75]:
name == 'sonu' and password == '123231'

False

In [76]:
name == 'sonu' or password == '1232223'

True

In [77]:
name == 'sou' or password == '1232223'

False

# true id pass gives true

In [78]:
email = input('enter email')
password = input('enter password')
email =='rishabh' and password == 'admin'

True

# when entered wrong id or pass then show false

In [79]:
email = input('enter email')
password = input('enter password')
email =='rishabh' and password == 'admin'

False

# using or on the place of and

In [80]:
email = input('enter email')
password = input('enter password')
email =='rishabh' or password == 'admin'

True

In [81]:
email = input('enter email')
password = input('enter password')
email =='rishabh' or password == 'admin'

False

# using not operator

In [83]:
not email == 'raju'

True

In [84]:
not email == 'rishabh'

True

In [85]:
hungry = 'yes'

In [86]:
not hungry == 'no'

True

In [87]:
age = 20

In [88]:
not age == 20

False

In [89]:
age == 20

True

# membership opertaor

# making list using []

In [90]:
x = [1,2,3,4,5,6,'orange']

In [91]:
x

[1, 2, 3, 4, 5, 6, 'orange']

# checking 100 in list x

In [92]:
100 in x

False

In [93]:
3 in x

True

In [99]:
'b' in x

False

# capital and small we have to take care of it

In [97]:
'orange' in x

True

In [98]:
'ORANGE' in x

False

In [113]:
id= input("enter id")
while id == 'abc':
    print("i am rishabh")
    id += 1
    else:
        print("rj45")

i am rishabh

TypeError: can only concatenate str (not "int") to str

In [18]:
id = input('enter id') 
if id == 'abc':
    print('success')
else:
    print('fail')

success

In [ ]:
email = input("enter email")
while email == 'a':
    print('details provided are valid')
    else:
    print('wrong')

In [1]:
a=int(input("enter a"))
b=int(input("enter b"))
c=a//b
print(c)

1

In [2]:
a=int(input("enter a"))
b=int(input("enter b"))
c=a/b
print(c)

1.3333333333333333

## condition and loops

##if (condition):

            do some stuff in the block -(indentation space before stuff start under if)
    do another stuff

In [10]:
a=5
b=4
if a>b:
    print("a is greater")

a is greater

In [12]:
if 10 % 2 == 0:
    print("its even")

its even

In [13]:
a = 120
if a > 100:
    print("rishabh")

rishabh

In [29]:
if a == 121:
    print("amazing")
    print("this is block wont't run")

amazing
this is block wont't run

In [17]:
a = 10
b = 20
c = 30
if a<b and a<c:
    print('a is smallest')

a is smallest

In [18]:
username = input('enter username')
password = input('enter password')
if username == 'Ben' and password == 'Omnitrix':
    print('welcome ben ')

welcome ben

In [19]:
age = 30
if age>25:
    print('you are an adult person')
if age>50:
    print('you are an old persn')
if age == 30:
    print('you are old too')

you are an adult person
you are old too

## nested if

In [23]:
##we have to take care of small and capitals

In [22]:
firstname = 'vijay'
lastname ='chauhan'
if firstname.startswith('v'):
    if lastname.startswith('c'):
        print('you are welcome')

you are welcome

In [28]:
fav_color = input('enter fav color')
if fav_color  in['red','yellow','orange']:
    fav_fruit = input("enter fav fruit")
    if fav_fruit.startswith('o'):
        print('you are the choosen one')

you are the choosen one

In [44]:
pocket_money = int(input('enter pocket money'))
if pocket_money>1000:
   a= pocket_money-500
   print(a)
if pocket_money<600:
    b= pocket_money+200
    print(b)

700

In [51]:
pm = int(input('enter pocket money'))
if pm > 1000:
    pm = pm - 500
    if pm < 600:
        pm = pm+200
print('pocket money:',pm)

pocket money: 701

In [52]:
## if else condition

In [54]:
a=20
if a>=30:
    print('its true')
else:
    print('nothing true')

nothing true

In [55]:
a=50
if a>=30:
    print('its true')
else:
    print('nothing true')

its true

In [58]:
nm = input('enter your name')
if nm.startswith('a') or nm.startswith('e') or nm.startswith('i') or nm.startswith('o') or nm.startswith('u'):
    print('your name start with vowel')
else:
    print('your name strt with consonant')

your name strt with consonant

In [62]:
string = 'in keyword finds the occurance of and element'
if 'the' in string:
    print("true")

true

In [61]:
print('of' in string)

True

In [63]:
print('off' in string)

False

In [64]:
a=40
b=30
if a is 50:
    print('a is 50')
elif b is not 10:
    print('b is not 10')
else:
    print("nothing is true")

b is not 10

In [73]:
answer = 'naruto'
question = 'who is father of boruto'
response = input(question)
if response == answer:
    print('you won the prize')
elif response == 'sasuke':
    print('you not won been reading chapters')
elif response == 'hinata':
    print('you do not understanmd')
else:
    print('you gave wrong answer')

you gave wrong answer

In [94]:
question = "which movie you want to watch"
response = input(question)
if response == 'monsterhunter':
    print('you selected monsterhunter to watch')
elif response == 'master':
    print('you selected master')
elif response == 'wonderwomen':
    print('you selected  wonderwomen')
else:
    print('wrong selection made')
payment = 'cash','card'
if payment == cash:
    print('give it to me')
elif payment == card:
    print('insert the  card to mke payment')

wrong selection made

NameError: name 'cash' is not defined

In [1]:
a=int(input("enter a"))
b=int(input("enter b"))
c=a+b
print(c)

5

In [17]:
id = input('enter id') 
if id == 'abc':
    print('success')
else:
    print('fail')

fail

In [23]:
a = 121

## loop

In [1]:
answer = 'naruto'
question = 'who is father of boruto'
response = input(question)
if response == answer:
    print('you won the prize')
elif response == 'sasuke':
    print('you not won been reading chapters')
elif response == 'hinata':
    print('you do not understanmd')
else:
    print('you gave wrong answer')

you gave wrong answer

## 1- step based loop
- for loop
## 2- condition based loop
- while

## for temp_var in iterable:
    statement 1
    statement 2
    ........
    statement n

In [2]:
x =[1,2,3,4,5,6,7]

In [3]:
len(x)

7

In [4]:
for i in x:
    print(i)

1
2
3
4
5
6
7

##for i in x -(for evry item in x)

In [7]:
name = 'Rishabh'
for ch in name:
    print(ch)

R
i
s
h
a
b
h

In [9]:
animals =['tiger','cat','dog','lion','elepehant','monkey']
for animal in animals:
    print(f'i like{animal}')

i liketiger
i likecat
i likedog
i likelion
i likeelepehant
i likemonkey

In [10]:
##f is used to give ur custom msg

In [14]:
for j in x:
    print(j)
    print(j**2)
    print(j**3)
print('the end')

1
1
1
2
4
8
3
9
27
4
16
64
5
25
125
6
36
216
7
49
343
the end

In [12]:
## print(i**2)
   ## print(i**3) 
   ## printing suare and cube of 1 to 7

In [17]:
for i in x:
    if i % 2 == 0:
        print(f'these are even numbers{i}')

these are even numbers2
these are even numbers4
these are even numbers6

In [29]:
print('these are even')
for i in x:
    if i % 2 == 0:
        print(i)
print('these are odd')
for i in x:
    if i % 2 > 0:
        print(i)

these are even
2
4
6
these are odd
1
3
5
7

In [31]:
for i in x:
    print(f'5 * {i}={5*i}')

5 * 1=5
5 * 2=10
5 * 3=15
5 * 4=20
5 * 5=25
5 * 6=30
5 * 7=35

# iterables in python - those items that can be looped in python
- string
- list
- tuple
- set
- dict
- range() -used for specifing the no of times a loop should run
- so on...

- range(stop) ->           give a sequence from 0 ---> stop - 1  (minus 1 like 0-99 for hundred)
- range(start,stop) ->      give a sequence from start---> stop - 1 
- range(sart,stop,gap) ->            give a sequence from start---> stop - 1 , with a gap b/w values

In [24]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
for a in range(5,11):
    print(a)

5
6
7
8
9
10

In [26]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [27]:
##(1,11,2) addd 2 in one amnd so on.... up to 11-1 that is 10

## break and continue           nots copy start from here

In [51]:
for i in range(10):
    print('*')

*
*
*
*
*
*
*
*
*
*

In [67]:
for i in range(10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [32]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [33]:
for i in range(-5,5):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [35]:
for i in range(10,0,-1):
    print(''*i)

## break and continue
- break => stop loop before its completion based on condition
- continue => skip a code execution in looop

In [39]:
for i in range(10):
    num = int(input('enter a value'))
    if num>50:
        print(num)
    else:
        break
print('the end')

90
90
80
100
101
200
the end

In [40]:
## isme jab tk hjum 50 se kam number nahi daalengy tb tkk number maagta rahega

In [6]:
for i in range(10,0,-1):
    print(''*i)

In [52]:
for i in range(10):
    print('*')

*
*
*
*
*
*
*
*
*
*

In [7]:
for i in range(10,0,-1):
    print(''*i)

In [8]:
for i in range(10,0,-1):
    print(''*i)

In [10]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [27]:
for val in nums:
    if val == 0:
        continue
    print('original',val)
    print('square',val**2)
    print('cube',val**3)
    print('--' * 20)

original 1
square 1
cube 1
----------------------------------------
original 2
square 4
cube 8
----------------------------------------
original 3
square 9
cube 27
----------------------------------------
original 4
square 16
cube 64
----------------------------------------
original 5
square 25
cube 125
----------------------------------------
original 6
square 36
cube 216
----------------------------------------
original 7
square 49
cube 343
----------------------------------------
original 8
square 64
cube 512
----------------------------------------
original 9
square 81
cube 729
----------------------------------------
original 10
square 100
cube 1000
----------------------------------------

## while loop

syntax

while condition:

    statement1
    statement2
    .........
    statementn

In [26]:
i=100
while i > 0:
    print('i hai',i)
    i= i//10

i hai 100
i hai 10
i hai 1

In [29]:
i=20
while i > 0:
    print('i hai',i)
    i= i//10

i hai 20
i hai 2

In [34]:
while True:
    email = input('enter email address')
    password= input('enter password')
    if email == 'rishabh@gmail.com' and password == 'rishabh':
        print('welcome rishabh')
        break
    else:
        print('try again')

try again
welcome rishabh

In [33]:
## here up to we write correct id pass its keep asking for correct id password after getting true value its stop

In [44]:
# calculator
while True:
    print('calculator menu')
    print('ADD\tSUB\tDIV\t\MUL\tEXIT')
    print('--*20')
    print('>>')
    ch = input('select option')
    if ch.lower()=='add':
        x = int(input('enter A'))
        y = int(input('enter B'))
        print(f'{x}+{y}={x+y}')
        print('~~'*20)
    elif ch.lower()=='sub':
        x = int(input('enter A'))
        y = int(input('enter B'))
        print(f'{x} - {y} = {x-y}')
        print('~~'*20)
    elif ch.lower()=='div':
        x = int(input('enter A'))
        y = int(input('enter B'))
        print(f'{x}//{y}={x//y}')
        print('~~'*20)
    elif ch.lower()=='mul':
        x = int(input('enter A'))
        y = int(input('enter B'))
        print(f'{x}*{y}={x*y}')
        print('~~'*20)
    elif ch.lower()=='exit':
        print('calc closed')
        break

calculator menu
ADD	SUB	DIV	\MUL	EXIT
--*20
>>
2+3=5
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
calculator menu
ADD	SUB	DIV	\MUL	EXIT
--*20
>>
5 - 3 = 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
calculator menu
ADD	SUB	DIV	\MUL	EXIT
--*20
>>
calculator menu
ADD	SUB	DIV	\MUL	EXIT
--*20
>>
calculator menu
ADD	SUB	DIV	\MUL	EXIT
--*20
>>

ValueError: invalid literal for int() with base 10: 'mul'

In [55]:
poem=''
print("enter your poem")
while True:
    line = input('>>')
    if line:
        poem += line +'\n'
    else:
        break
print('your poem is')
print(poem)

enter your poem
your poem is
i am
rishabh
of
bca
from
bbdu

In [1]:
print('checking the git hub working')

checking the git hub working

In [4]:
x=[1,2,3,4,5,6,7,8,9,10]
for i in x:
    print(f'5 * {i}={5*i}')

5 * 1=5
5 * 2=10
5 * 3=15
5 * 4=20
5 * 5=25
5 * 6=30
5 * 7=35
5 * 8=40
5 * 9=45
5 * 10=50

In [1]:
## string (absent)

In [3]:
## string functions

## utility function are major

## functions in string

In [4]:
sentence = 'i went to vijaywada to haVE a Holiday.'

In [5]:
sentence.upper()

'I WENT TO VIJAYWADA TO HAVE A HOLIDAY.'

In [6]:
sentence.lower()

'i went to vijaywada to have a holiday.'

In [9]:
senu = sentence.upper()

In [10]:
print(senu)

I WENT TO VIJAYWADA TO HAVE A HOLIDAY.

In [11]:
senl = sentence.lower()

In [12]:
print(senl)

i went to vijaywada to have a holiday.

In [13]:
senc = sentence.capitalize()

In [14]:
print(senc)

I went to vijaywada to have a holiday.

In [15]:
sent = sentence.title()

In [16]:
print(sent)

I Went To Vijaywada To Have A Holiday.

In [17]:
sentence.casefold()

'i went to vijaywada to have a holiday.'

In [18]:
sentence.swapcase()

'I WENT TO VIJAYWADA TO HAve A hOLIDAY.'

In [19]:
##lower ko upper upper ko lower

In [20]:
len(sentence)

38

In [21]:
word = 'Solid'

In [22]:
word

'Solid'

In [23]:
len(word)

5

In [25]:
word.rjust(50)

'                                             Solid'

In [26]:
## givig space at left side

In [27]:
word.ljust(50)

'Solid                                             '

In [30]:
word.center(50)

'                      Solid                       '

In [34]:
for i in range(1,15,2):
    print('O' * i)

O
OOO
OOOOO
OOOOOOO
OOOOOOOOO
OOOOOOOOOOO
OOOOOOOOOOOOO

In [35]:
for i in range(1,15,2):
    print(('O' * i).rjust(15))

              O
            OOO
          OOOOO
        OOOOOOO
      OOOOOOOOO
    OOOOOOOOOOO
  OOOOOOOOOOOOO

In [36]:
##gives space of 15 in start and sifht to right"

In [37]:
for i in range(1,15,2):
    print(('O' * i).center(15))

       O
      OOO
     OOOOO
    OOOOOOO
   OOOOOOOOO
  OOOOOOOOOOO
 OOOOOOOOOOOOO

In [40]:
for i in range(15,0,-2):
    print(('O' * i).center(15))

OOOOOOOOOOOOOOO
 OOOOOOOOOOOOO
  OOOOOOOOOOO
   OOOOOOOOO
    OOOOOOO
     OOOOO
      OOO
       O

In [41]:
for i in range(15,0,-2):
    print(('O' * i).center(15))
for i in range(1,15,2):
    print(('O' * i).center(15))

OOOOOOOOOOOOOOO
 OOOOOOOOOOOOO
  OOOOOOOOOOO
   OOOOOOOOO
    OOOOOOO
     OOOOO
      OOO
       O
       O
      OOO
     OOOOO
    OOOOOOO
   OOOOOOOOO
  OOOOOOOOOOO
 OOOOOOOOOOOOO

In [43]:
word.isalpha()

True

In [44]:
word.isnumeric()

False

In [45]:
a= "1234"

In [46]:
a.isnumeric()

True

In [48]:
x

123

In [52]:
x = input('enter a number')
if x.isnumeric():
    print('good boy')
    x= int(x)
else:
    print('wrong input')

wrong input

## important function

In [61]:
quote = 'life before death, hope before despair, journey before destination'

In [62]:
len(quote)

66

In [63]:
quote.split()

['life',
 'before',
 'death,',
 'hope',
 'before',
 'despair,',
 'journey',
 'before',
 'destination']

In [57]:
##split function break all data into pices

In [64]:
words = quote.split()
print(words)

['life', 'before', 'death,', 'hope', 'before', 'despair,', 'journey', 'before', 'destination']

In [65]:
len(words)

9

In [66]:
quote.split(',')

['life before death', ' hope before despair', ' journey before destination']

In [67]:
quote.split('before')

['life ', ' death, hope ', ' despair, journey ', ' destination']

In [68]:
wiki ='''
Son Goku is a fictional character and main protagonist of the Dragon Ball manga series created by Akira Toriyama. He is based on Sun Wukong (Monkey King), a main character in the classic Chinese novel Journey to the West. His origin story also shares some similarities with that of Superman.
'''

In [69]:
for word in wiki.split():
    print(word)

Son
Goku
is
a
fictional
character
and
main
protagonist
of
the
Dragon
Ball
manga
series
created
by
Akira
Toriyama.
He
is
based
on
Sun
Wukong
(Monkey
King),
a
main
character
in
the
classic
Chinese
novel
Journey
to
the
West.
His
origin
story
also
shares
some
similarities
with
that
of
Superman.

In [71]:
for word in wiki.split():
    print(word,len(word))

Son 3
Goku 4
is 2
a 1
fictional 9
character 9
and 3
main 4
protagonist 11
of 2
the 3
Dragon 6
Ball 4
manga 5
series 6
created 7
by 2
Akira 5
Toriyama. 9
He 2
is 2
based 5
on 2
Sun 3
Wukong 6
(Monkey 7
King), 6
a 1
main 4
character 9
in 2
the 3
classic 7
Chinese 7
novel 5
Journey 7
to 2
the 3
West. 5
His 3
origin 6
story 5
also 4
shares 6
some 4
similarities 12
with 4
that 4
of 2
Superman. 9

In [72]:
for word in wiki.split():
    print(word.ljust(15),len(word))

Son             3
Goku            4
is              2
a               1
fictional       9
character       9
and             3
main            4
protagonist     11
of              2
the             3
Dragon          6
Ball            4
manga           5
series          6
created         7
by              2
Akira           5
Toriyama.       9
He              2
is              2
based           5
on              2
Sun             3
Wukong          6
(Monkey         7
King),          6
a               1
main            4
character       9
in              2
the             3
classic         7
Chinese         7
novel           5
Journey         7
to              2
the             3
West.           5
His             3
origin          6
story           5
also            4
shares          6
some            4
similarities    12
with            4
that            4
of              2
Superman.       9

In [75]:
largest =''
for word in wiki.split():
    if len(largest) < len(word):
        largest = word 
print(largest, len(largest))

similarities 12

In [76]:
## this gives only greater one

In [78]:
wiki.replace('G','e')

'\nSon eoku is a fictional character and main protagonist of the Dragon Ball manga series created by Akira Toriyama. He is based on Sun Wukong (Monkey King), a main character in the classic Chinese novel Journey to the West. His origin story also shares some similarities with that of Superman.\n'

In [79]:
##replace G by e on whole passage

In [81]:
wiki.replace('on','ohh')

'\nSohh Goku is a fictiohhal character and main protagohhist of the Dragohh Ball manga series created by Akira Toriyama. He is based ohh Sun Wukohhg (Mohhkey King), a main character in the classic Chinese novel Journey to the West. His origin story also shares some similarities with that of Superman.\n'

In [83]:
wiki.replace('G','e').replace('in','out').replace('His','her')

'\nSon eoku is a fictional character and maout protagonist of the Dragon Ball manga series created by Akira Toriyama. He is based on Sun Wukong (Monkey Koutg), a maout character out the classic Choutese novel Journey to the West. her origout story also shares some similarities with that of Superman.\n'

In [88]:
newwiki = wiki.replace('Goku','bruoto')

In [89]:
print(newwiki)

Son bruoto is a fictional character and main protagonist of the Dragon Ball manga series created by Akira Toriyama. He is based on Sun Wukong (Monkey King), a main character in the classic Chinese novel Journey to the West. His origin story also shares some similarities with that of Superman.