In [1]:
#wap to store 10 movies entered by user in list

In [5]:
movies=[]
for i in range(10):
    name= input('enter movies name-->')
    movies.append(name)

In [6]:
movies

['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p']

In [7]:
movies=[]
for i in range(10):
    name= input('enter movies name =>')
    movies.append(name)

In [8]:
movies

['q', 'w', 'e', 'r', 't', 'yu', 'i', 'o', 'p', 'a']

In [9]:
print(movies)

['q', 'w', 'e', 'r', 't', 'yu', 'i', 'o', 'p', 'a']

In [10]:
## wap to store 100 even numbers in list

In [15]:
evens = list(range(2,201,2))

In [16]:
evens

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

In [19]:
## wap to print all the odd numbers in the list given below
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]

In [24]:
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]
for i in a:
    if i % 2!=0:
        print(i)

3
7
879
23
31

In [ ]:
#### wap to store  all the odd numbers into a new list from the given list given below
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]

In [36]:
a=[12,3,54,32,6,7,8,879,34,23,2,4,31]
for i in a:
    if i % 2!=0:
        x=[i]

        print(x)

[3]
[7]
[879]
[23]
[31]

In [33]:
odds =[]
for i in a:
    if i%2!=0:
        odds.append(i)

In [34]:
odds

[3, 7, 879, 23, 31]